/*Attriburtes for small page size */
.navbar-default
{
  background-color: white;;
  border-color: var(--secondary-color);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand
{
    color: var(--main-color);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus
 {
      color: var(--main-color-hover);
 }

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus
{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #222;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover
{
      color: var(--main-color);
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus
 {
    color: var(--main-color) !important;
    background-color: transparent;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover
{
    background-color: transparent;
}

@media (min-width: 768px)
{
    .navbar-default
     {
         background-color: white;
         border-color: var(--secondary-color);

     }
      .navbar-default .navbar-header .navbar-brand
      {
        color: var(--main-color);
      }
      .navbar-default .navbar-header .navbar-brand:hover,
      .navbar-default .navbar-header .navbar-brand:focus
      {
          color: var(--secondary-color);
      }
      .navbar-default .nav > li > a,
      .navbar-default .nav > li > a:focus
       {
           color: var(--main-color);
        }
        .navbar-default .nav > li > a:hover,
        .navbar-default .nav > li > a:focus:hover
        {
          color: var(--secondary-color);
       }
      .navbar-default.affix
      {
        background-color: rgba(255, 255, 255, 0.8);
        border-color: rgba(34, 34, 34, 0.5);
       }
       .navbar-default.affix .navbar-header .navbar-brand
       {
          color: var(--main-color);
          font-size: 14px;
        }
        .navbar-default.affix .navbar-header .navbar-brand:hover,
        .navbar-default.affix .navbar-header .navbar-brand:focus
        {
            color: var(--main-color);
        }
        .navbar-default.affix .nav > li > a,
        .navbar-default.affix .nav > li > a:focus
        {
          color: #222;
        }
          .navbar-default.affix .nav > li > a:hover,
          .navbar-default.affix .nav > li > a:focus:hover
        {
            color: var(--main-color);
        }
}

body{
background-color: white;
}

.container .row .service-box .board-Position
{
    color: var(--main-color);
    font-weight: bold;
}
 .container .row .service-box .text-muted
 {
     text-align: center;
 }

#Spring2016
{
    margin-top: 2%;
}
