---
layout: default
---
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="keywords" content="{{ site.keywords }}"/>
    <meta name="author" content="{{ site.author }}"/>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="css/modern-blog.css"/>
    <!--[if IE]>
    <script type="text/javascript" src="js/vendors/html5.min.js"></script>
    <![endif]-->
    <script>
        if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
            var root = document.getElementsByTagName('html')[0];
            root.setAttribute('class', 'ff');
        }
    </script>
</head>
<body class="body">
<div class="container">
    <header class="header">
        <a href="https://rodrigofigueroam.github.io/#"><h1>Rodrigo Figueroa<span>Personal Portfolio</span></h1></a>
        <nav class="links">
            <a href="https://github.com/RodrigoFigueroaM"><i class="fa fa-github fa-3x"></i></a>
			<a href="#"><i class="fa fa-user-circle-o fa-3x"></i></a>
			<a href="https://rodrigofigueroam.github.io/#"><i class="fa fa-briefcase fa-3x" aria-hidden="true"></i></a>
	   		<a href="https://www.linkedin.com/in/rodrigofigueroamonroy/"><i class="fa fa-linkedin-square fa-3x"></i></a>
		</nav>
    </header>
    <div class="content">
        <!-- trianglify pattern container -->
        <div class="pattern pattern--hidden">
			{{ "about/aboutme.md " | absolute_url }}
			{% include aboutme.md %}
			 {% include_relative about/about.md %}
        </div>
    </div>
    <!-- /container -->
</div>
<!-- JS -->
<script src="js/vendors/trianglify.min.js"></script>
<script src="js/vendors/TweenMax.min.js"></script>
<script src="js/vendors/ScrollToPlugin.min.js"></script>
<script src="js/vendors/cash.min.js"></script>
<script src="js/card-modern-blog.js"></script>
<script src="js/modern-blog.js"></script>
</body>
</html>
