<div class="group rounded-lg hover:bg-black-50 p-8 shadow outline-gray-3 cursor-pointer hover:shadow-lg flex flex-col justify-between">
  <div class="flex flex-col justify-between max-w-lg">
    <a href="{{include.prototype.url | relative_url}}" aria-label="Prototype Url">
      <div class="hover:opacity-90 transition duration-300 w-full h-60 bg-cover bg-center"
        style="background-image: url('{{ include.prototype.image | default: 'https://picsum.photos/600/400/?blur' }}')">
      </div>
    </a>
    <div class="pt-6">
      <a href="{{site.url}}{{site.baseurl}}/category/{{include.prototype.categories[0] | replace: ' ', '-'| downcase}}"
        aria-label="Category {{include.prototype.categories[0]}} url"
        class="font-mulish text-sm hover:text-sky-400 text-gray-600">
        {{ include.prototype.categories[0] | upcase }}
      </a>
    </div>
    <a href="{{include.prototype.url | relative_url}}" aria-label="Prototype Url">
      <h2 class="hover:text-sky-400 hover:underline decoration-2 underline-offset-2 font-semibold text-2xl hover:text-sky-400 pt-6">{{
        include.prototype.title }}</h2>
    </a>
  </div>
  <span class="text-sm text-gray-200 pt-6">
    {{ include.prototype.date | date: "%-d/%-m/%Y" }}
  </span>
</div>
