---
layout: default
---


<link rel="stylesheet" href="{{ '/assets/css/monokai.css' | relative_url }}">
<div class="container mx-auto">
  <div id="post" class=" text-gray-200 prose max-w-[75ch] prose-neutral mx-auto pb-10 pt-20 lg:pt-[90px] lg:pb-20">
    <h1 class="text-left text-2xl font-bold md:text-5xl text-purple">{{page.title}}</h1>

    <img src="{{page.image}}" alt="{{page.title}}">

    <div class="my-6 text-gray-200">
      {{content}}
    </div>

    <div class="mx-auto py-8 text-purple">
      {% include sharing.html %}
    </div>

  </div>
</div>
